<div class="col col-8">
  <div class="title-bookmark">
    <h3><%= facade.current_video.title %></h3>
    <div class="bookmarks-btn">
      <%= button_tag "Bookmark",type: 'button', onclick: 'bookmarkVideo()', class: "btn btn-outline mb1 teal" %>
      <!-- user_videos_path(video_id: facade.current_video.id) -->
    </div>
  </div>

  <div id="player">
    <script src="https://www.youtube.com/player_api"></script>
    <script>
    // create youtube player
    var player;
    var position;
    function onYouTubePlayerAPIReady() {
      player = new YT.Player('player', {
        width: '640',
        height: '390',
        videoId: '<%= facade.current_video.video_id %>',
        events: {
          onReady: onPlayerReady,
          onStateChange: onPlayerStateChange
        }
      });
    }

    // autoplay video
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {
      if(event.data === 0 && <%= facade.play_next_video? %>) {
        window.location = "/tutorials/<%=facade.id%>?video_id=<%=facade.next_video.id %>";
      } else if(event.data === 0 && <%= facade.play_next_video? == false %>) {
        const message = document.querySelector(`#message`);
        message.innerHTML = "You watched them all. Bask in the glory of your new skills."
      }
    }

    function bookmarkVideo() {
      document.getElementById("bookmark-outcome").innerHTML = '';
      await sleep(150)
      console.log('<%= facade.current_video.video_id %>')
      fetch('/api/v1/bookmarks', {
        method: "POST",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        body: JSON.stringify({video_id:"<%= facade.current_video.id %>", authenticity_token:"<%= form_authenticity_token %>"})
      })
      .then(function(response){
        let target = document.getElementById("bookmark-outcome")
        target.style.display = "block";
        if (response.status === 302) {
          target.innerHTML = "You have already bookmarked this video.";
        } else if (response.status === 200){
          target.innerHTML = "You've successfully bookmarked the video!";
        } else {
          target.innerHTML = "Something went wrong. If the problem continues please contact Jeff.";
        }
      });
    }

  </script>
</div>
  <h4>Description</h4>
  <p data-controller="tutorials" id="description-<%= facade.current_video.id %>">
    <%= facade.current_video.description.truncate(50) %>...
    <%= link_to "More", "#", "data-action" => "click->tutorials#showDescription", id: facade.current_video.id, class: "show-link"%>
  </p>
</div>
